body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

#contain {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.introduction {
    grid-area: image;
    padding: 0 2rem;
    height: 2.813rem;
}

.principal {
    display: flex;
    align-items: center;
    grid-area: menu;
}

.inscription {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.inscription[data-active=true] {
    color: #0065FC;
}

.inscription:hover {
    color: #0065FC;
}

.inscription1 {
    display: flex;
    align-items: center;
    grid-area: inscrire;
    padding: 2rem;
    color: #0065FC;
    font-weight: 600;
}

.main {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}

.fa-search {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
    font-weight: 100;
    opacity: 0.8;
    margin-top: -10px;
}

.star {
    font-size: 15px; 
    color: #0065FC;
}

.neutre {
    font-size: 15px; 
    color: #F2F2F2;
}

#searchcontain {
    display: flex;
}

.search {
    display: inline;
}

label, .point_search {
    padding: 14px;
    font-size: 19px;
    text-align: center;
}

label {
    border-radius: 18px 0px 0px 18px;
    background-color: #F2F2F2;
    font-size: 19px;
    width: 20px;
    border: 1px solid #F2F2F2;
}

.point_search {
    border-radius: 0px 18px 18px 0px;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
    width: 100px;
    border: 1px solid #0065FC;
}

#searchmap {
    padding: 14px;
    border: 1px solid #f2f2f2;
    width: 210px;
    font-size: 19px;
    outline-style: none;
}

#filscontain {
    display: flex;
    margin-top: 30px;
    font-weight: 900;
    align-items: center;
}

.filtre {
    border: 2px solid #F2F2F2;
    padding-right: 16px;
    border-radius: 30px;
    margin-left: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 200ms ease-in-out;
}

#filter {
    display: none;
}

.filtre p {
    padding: 12px;
    border-radius: 100px;
    margin-right: 10px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    width: 19px;
    text-align: center;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}

#information {
    margin-top: 35px;
    display: flex;
    align-items: center;
}

.filtre:hover {
    transform: scale(1.1);
}

#information p {
    height: 1.5rem;
    width: 1.5rem;
    min-height: 1.5rem;
    min-width: 1.5rem;
    border: solid 1px #D9D9D9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065FC;
}

#EnsembleHer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

#hebergements {
    width: 940px; 
    background-color: #F2F2F2;
    border-radius: 15px;
}

#hebergements h1 {
    margin-left: 25px;
    margin-top: 40px;
}

.auba {
    width: 250px;
    padding: 4px;
    background-color: white;
    border-radius: 20px;
    margin: 0px;
    box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
}

.Canne {
    border-radius: 20px;
    margin: 10px;
}

.cadre_hebergement {
    width: 250px;
    height: 120px;
    border-radius: 20px 20px 0 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.AubergeCanne {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.act_hebergement {
    line-height: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.Host_Star {
    margin-top: 23px;
}

.affichage {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 1.15rem;
    font-weight: bold;
}

#populaire {
    width: 440px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

#populaire h1 {
    margin-left: 30px;
    margin-right: 21px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.popu {
    margin-top: 20px;
    margin-left: 30px;
    margin: 0;
    padding: 4px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
}

.soleil {
    margin: 10px;
    border-radius: 10px;
}

.cadre_populaire {
    width: 130px;
    height: 150px;
    border-radius: 20px 0px 0px 20px;
    -o-object-fit: cover;
    object-fit: cover;
}

.popu i {
    margin-top: 30px;
}

.hotelsoleil {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 30px;
}

.act_populaire {
    margin-left: 24px;
    margin-right: 10px;
    width: 100%;
    position: relative;
}

.popu_star {
    position: absolute;
    margin-top: 35px;
}

.Hotel {
    margin-top: 10px;
    margin-bottom: 5px;
}

.Hotel_Star {
    margin-top: 0px;
}

figcaption i {
    color: #0065FC;
}

.Host, .Hotel {
    font-weight: bold;
    font-size: 1.1rem;
}

#activitesspecial {
    margin-top: 30px;
}

.marseillebo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.acti {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    margin-top: 13px;
    margin: 0;
    box-shadow: 2px 1px 5px 2px #F2F2F2;
}

.city {
    border-radius: 10px;
    margin: 10px;
}

.cadre_activites {
    width: 310px;
    height: 410px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.act_activites {
    align-items: center;
    margin-left: 30px;
    font-weight: bold;
}

.ville {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.acti_larger, .acti_small, .acti_normal {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    margin: 0;
    box-shadow: 2px 1px 5px 2px #F2F2F2;
}

.cadre_larger {
    width: 320px;
    height: 180px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.cadre_small {
    width: 320px;
    height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.cadre_normal {
    width: 320px;
    height: 151px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

footer {
    background: #F2F2F2;
    margin-top: 40px;
}

.foot {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#propos a:hover, #sejour a:hover,
#assistance a:hover {
    text-decoration: underline;
}

#propos ul, #sejour ul,
#assistance ul {
    list-style: none;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

#sejour ul, #assistance ul {
    margin-left: 230px;
}

.contenutitle {
    font-weight: bold;
}

@media screen and (min-width: 940px) and (max-width: 1380px) 
{      
.cadre_populaire {
    width: 100px;
    height: 120px;
    border-radius: 20px 0px 0px 20px;
    -o-object-fit: cover;
    object-fit: cover;
}

.popu_star {
    position: absolute;
    margin-top: 5px;
}
}

@media screen and (min-width: 716px) and (max-width: 1380px)
{
.city {
    border-radius: 10px;
    margin: 5px;
}
        
.cadre_activites {
    width: 260px;
    height: 360px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
        
.act_activites {
    align-items: center;
    margin-left: 20px;
    font-weight: bold;
}
        
.cadre_larger {
    width: 290px;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
        
.cadre_small {
    width: 290px;
    height: 110px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
    
.cadre_normal {
    width: 300px;
    height: 131px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}  
}

@media screen and (min-width: 716px) and (max-width: 1232px) 
{
#activitesspecial h1 {
    text-align: center;
}

.marseillebo {
    justify-content: center;
    margin: auto;
}
    
.cadre_larger {
    height: 151px;
    width: calc(120px + 25vw);
}

.cadre_small {
    height: 131px;
    width: calc(120px + 25vw);
}

.act_activites {
    align-items: center;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
}

.cadre_normal {
    width: calc(120px + 25vw);
}

.cadre_activites {
    width: calc(120px + 25vw);
}
}

@media screen and (min-width: 940px) and (max-width: 1160px) 
{
.foot {
    justify-content: space-around;
}
    
#sejour ul, #assistance ul {
        margin-left: 0px;
}
}

@media screen and (min-width: 600px) and (max-width: 1380px)
{
.main {
    margin-left: 3%;
    margin-right: 3%;
}

#EnsembleHer {
    justify-content: center;
}
        
#hebergements {
    width: 1000px;
    order: 2;
    margin-top: 20px;
}

#populaire {
    width: 1000px;
    order: 1;
}
}

@media screen and (min-width: 1060px) and (max-width: 1380px)
{   
.hotelsoleil {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
}
    
.popu {
    display: flex;
    width: 290px;
}
}

@media screen and (min-width: 600px) and (max-width: 940px)
{
#filscontain {
    display: flex;
    margin-top: 0px;
    font-weight: 900;
    flex-wrap: wrap;
}

#filter {
    display: inline-block;
}

#filscontain h1 {
    display: none;
}

.filtre {
    border: 2px solid #F2F2F2;
    padding-right: 12px;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 15px;
    align-items: center;
    transition: transform 200ms ease-in-out;
}

.filtre p {
    padding: 12px;
    border-radius: 100px;
    margin-right: 10px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    width: 19px;
    text-align: center;
    cursor: pointer;
}

footer {
    background: #F2F2F2;
    margin-top: 40px;
    display: block;
}

.foot {
    justify-content: space-around;
}

#propos ul, #sejour ul, #assistance ul {
    margin-left: 0px;
}
}

@media screen and (max-width: 623px)
{
.foot {
    justify-content: right;
}
} 

@media screen and (max-width: 716px) 
{
.cadre_activites, .cadre_larger, 
.cadre_small, .cadre_normal {
    width: calc(100% - 0px);
    height: 135px;
}
}

@media screen and (min-width: 601px) {
#contain {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "image . menu inscrire";
}

.inscription [data-active=true] {
    border-top: 3px solid #0065FC;
}

.inscription:hover {
    border-top: 3px solid #0065FC;
}
}

@media screen and (max-width: 600px)
{
#contain {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "image . inscrire" "menu menu menu"; /*3fois navbar*/
}

.introduction {
    order: 0;
}

.inscription1 {
    order: 1;
}

.principal {
    order: 2;
}

.inscription {
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    width: 50%;
}

.inscription[data-active=true] {
    border-bottom-color: #0065FC;
}

.inscription:hover {
    border-bottom-color: #0065FC;
}

.search {
    display: none;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

.fa-search {
    display: inline;
    opacity: 1;
    position: relative;
}

.point_search {
    border-radius: 0px 18px 18px 0px;
    width: 25px;
}

#searchmap {
    width: 170px;
}

#EnsembleHer {
    justify-content: center;
}

#hebergements {
    order: 2;
    background-color: white;
    width: 1000px;
}

#hebergements h1 {
    margin-left: 19px;
}

#populaire {
    border-radius: 10px;
    order: 1;
    width: 1000px;
}

.auba {
    width: calc(100% - 10px);
    order: 1;
}

.cadre_hebergement {
    width: calc(100% - 0px);
    height: 120px;
}

.cadre_populaire {
    width: calc(45% - 10px);
    height: 140px;
}

.AubergeCanne {
    margin-right: 0px;
}

.hotelsoleil {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.Hotel {
    font-weight: bold;
    font-size: 14px;
}

.popu_star {
    position: absolute;
    margin-top: 45px;
}

.act_populaire {
    margin-left: 24px;
    font-size: 12px;
}

#filscontain {
    display: flex;
    margin-top: 0px;
    flex-wrap: wrap;
}

#filter {
    display: inline-block;
}

#filscontain h1 {
    display: none;
}

.filtre {
    margin-top: 15px;
    font-weight: bold;
    margin-left: 10px;
}

.affichage {
    margin-left: 16px;
}

#activitesspecial {
    margin-top: 30px;
}

#activitesspecial h1{
    margin-left: 11px;
}

.marseillebo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.city {
    border-radius: 10px;
    margin: 10px;
}

footer {
    background: #F2F2F2;
    margin-top: 40px;
}

.foot {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#propos ul, #sejour ul, #assistance ul {
    margin-left: 0px;
    padding-inline-start: 10px;
}
}