body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header, .main {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}

.fa-search {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

#contain {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.introduction {
    text-align: center;
}

.introduction a {
    display: none;
}

.secondaire {
    display: flex;
}

.selection {
    margin: 10px;
    list-style: none;
    text-decoration: none;
}

.selection:nth-child(1) {
    order: 1;
}

.inscrire, .inscrire a {
    color: #0065FC;
}

.inscription1 {
    color: #0065FC;
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    border-top: 4px solid white;
    padding-top: 42px;
}

.inscription {
    color: gray;
    font-weight: normal;
    font-size: 1.1rem;
    padding-left: 25px;
    padding-right: 25px;
    border-top: 4px solid white;
    padding-top: 42px;
}

.inscription:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
    font-weight: 100;
    opacity: 0.8;
    margin-top: -10px;
}

.star {
    font-size: 15px; 
    color: #0065FC;
}

.neutre {
    font-size: 15px; 
    color: #F2F2F2;
}

#searchcontain {
    display: flex;
}

.search {
    display: inline;
}

label, .point_search {
    padding: 14px;
    font-size: 19px;
    text-align: center;
}

label {
    border-radius: 18px 0px 0px 18px;
    background-color: #F2F2F2;
    font-size: 19px;
    width: 20px;
    border: 1px solid #F2F2F2;
}

.point_search {
    border-radius: 0px 18px 18px 0px;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
    width: 100px;
    border: 1px solid #0065FC;
    user-select: none;
}

#searchmap {
    padding: 14px;
    border: 1px solid #f2f2f2;
    width: 210px;
    font-size: 19px;
}

#filscontain {
    display: flex;
    margin-top: 30px;
    font-weight: 900;
    align-items: center;
}

.filtre {
    border: 2px solid #F2F2F2;
    padding-right: 16px;
    border-radius: 30px;
    margin-left: 30px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 200ms ease-in-out;
}

#filter {
    display: none;
}

.filtre p {
    padding: 12px;
    border-radius: 100px;
    margin-right: 10px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    width: 19px;
    text-align: center;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}

#information {
    margin-top: 35px;
    display: flex;
    align-items: center;
}

.filtre:hover {
    transform: scale(1.1);
}

#information p {
    border: 1px solid #F2F2F2; 
    padding: 8px;
    border-radius: 100%;
    color: #0065FC;
    text-align: center;
    width: 12px;
    margin-right: 15px;
    font-size: 12px;
}

#EnsembleHer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

#hebergements {
    width: 940px; 
    background-color: #F2F2F2;
    border-radius: 15px;
}

#hebergements h1 {
    margin-left: 25px;
    margin-top: 40px;
}

.auba {
    width: 250px;
    padding: 4px;
    background-color: white;
    border-radius: 20px;
    margin: 0px;
    box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
}

.Canne {
    border-radius: 20px;
    margin: 10px;
}

.cadre_hebergement {
    width: 250px;
    height: 120px;
    border-radius: 20px 20px 0 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.AubergeCanne {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.act_hebergement {
    line-height: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.AubStar {
    margin-top: 23px;
}

.affichage {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 1rem;
    font-weight: bold;
}

#populaire {
    width: 440px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

#populaire h1 {
    margin-left: 30px;
    margin-right: 21px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.popu {
    margin-top: 20px;
    margin-left: 30px;
    margin: 0;
    padding: 4px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
}

.soleil {
    margin: 10px;
    border-radius: 10px;
}

.cadre_populaire {
    width: 130px;
    height: 150px;
    border-radius: 20px 0px 0px 20px;
    -o-object-fit: cover;
    object-fit: cover;
}

.popu i {
    margin-top: 30px;
}

.hotelsoleil {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 30px;
}

.act_populaire {
    margin-left: 24px;
    width: 160px;
    position: relative;
}

.popu_star {
    position: absolute;
    margin-top: 30px;
}

.HotSol {
    margin-top: 10px;
    margin-bottom: 5px;
}

.HotStar {
    margin-top: 0px;
}

figcaption i {
    color: #0065FC;
}

.AubCan, .HotSol {
    font-weight: bold;
    font-size: 1.1rem;
}

#activitesspecial {
    margin-top: 30px;
}

.marseillebo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.acti {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    margin-top: 13px;
    margin: 0;
    box-shadow: 2px 1px 5px 2px #F2F2F2;
}

.city {
    border-radius: 10px;
    margin: 10px;
}

.cadre_activites {
    width: 310px;
    height: 410px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.act_activites {
    align-items: center;
    margin-left: 30px;
    font-weight: bold;
}

.ville {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.acti_larger {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    margin: 0;
    box-shadow: 2px 1px 5px 2px #F2F2F2;
}

.cadre_larger {
    width: 320px;
    height: 180px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.acti_small {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    margin: 0;
    box-shadow: 2px 1px 5px 2px #F2F2F2;
}

.cadre_small {
    width: 320px;
    height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.acti_normal {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    margin: 0;
    box-shadow: 2px 1px 5px 2px #F2F2F2;
}

.cadre_normal {
    width: 320px;
    height: 151px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

footer {
    background: #F2F2F2;
    margin-top: 40px;
}

.foot {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#propos a:hover, #sejour a:hover,
#assistance a:hover {
    text-decoration: underline;
}

#propos ul, #sejour ul,
#assistance ul {
    list-style: none;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

#sejour ul {
    margin-left: 230px;
}

#assistance ul {
    margin-left: 300px;
}

.contenutitle {
    font-weight: bold;
}
/*Début Bloc (940 - 1445)*/
@media screen and (min-width: 940px) and (max-width: 1445px) 
{
header, .main {
    margin-left: 3%;
    margin-right: 3%;
}

#contain {
    flex-direction: row;
}

#filscontain {
    display: flex;
    margin-top: 30px;
    font-weight: 700;
    align-items: center;
}

.auba {
    width: 205px;
    padding: 4px;
    background-color: white;
    border-radius: 20px;
    margin: 0px;
    box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
}
    
.cadre_hebergement {
    width: 205px;
    height: 100px;
    border-radius: 20px 20px 0 0;
    -o-object-fit: cover;
    object-fit: cover;
}
    
.affichage {
    margin-left: 50px;
    margin-top: 30px;
    font-weight: 900;
    margin-bottom: 40px;
    font-size: 1.15rem;
}
   
.cadre_populaire {
    width: 100px;
    height: 120px;
    border-radius: 20px 0px 0px 20px;
    -o-object-fit: cover;
    object-fit: cover;
}

.act_populaire {
    margin-left: 24px;
    width: 160px;
    position: relative;
}

.popu_star {
    position: absolute;
    margin-top: 5px;
}

.city {
    border-radius: 10px;
    margin: 5px;
}
    
.cadre_activites {
    width: 260px;
    height: 360px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
    
.act_activites {
    align-items: center;
    margin-left: 20px;
    font-weight: bold;
}

.ville {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    
.acti_larger {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    margin: 0;
}
    
.cadre_larger {
    width: 290px;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.acti_small {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    margin: 0;
}
    
.cadre_small {
    width: 290px;
    height: 110px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
    
.acti_normal {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    margin: 0;
}

.cadre_normal {
    width: 300px;
    height: 131px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
}

@media screen and (min-width: 940px) and (max-width: 1232px) 
{
#activitesspecial h1 {
    text-align: center;
}

.marseillebo {
    justify-content: center;
    max-width: 800px;
    margin: auto;
}
    
.acti_larger {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    margin: 0;
}
    
.cadre_larger {
    height: 151px;
}

.cadre_small {
    height: 131px;
}

.act_activites {
    align-items: center;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
}
}

@media screen and (min-width: 940px) and (max-width: 1160px) 
{
footer {
    background: #F2F2F2;
    margin-top: 40px;
}

.foot {
    justify-content: space-between;
}

#propos ul, #sejour ul, #assistance ul {
    list-style: none;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}
    
#sejour ul, #assistance ul {
        margin-left: 0px;
}
}

@media screen and (min-width: 940px) and (max-width: 1213px)
{
#EnsembleHer {
    justify-content: center;
}
        
#hebergements {
    width: 1000px;
    order: 2;
    margin-top: 20px;
}

#populaire {
    width: 1000px;
    order: 1;
}

.auba {
    width: 250px;
    padding: 4px;
    background-color: white;
    border-radius: 20px;
    margin: 0px;
    box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
}
    
.cadre_hebergement {
    width: 250px;
    height: 120px;
    border-radius: 20px 20px 0 0;
    -o-object-fit: cover;
    object-fit: cover;
}
}

@media screen and (min-width: 1060px) and (max-width: 1213px)
{   
.hotelsoleil {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 30px;
}
    
.popu {
    display: flex;
}
}

@media screen and (min-width: 1213px) and (max-width: 1445px)
{
#EnsembleHer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
    
#hebergements {
    width: 750px;
    background-color: #F2F2F2;
    border-radius: 15px;
}
     
#populaire {
    width: 390px;
    background-color: #F2F2F2;
    border-radius: 10px;
}
}
/*Fin Bloc (940 - 1445)*/

/*Début Bloc (600 - 940)*/
@media screen and (min-width: 600px) and (max-width: 940px)
{
header, .main {
    margin-left: 3%;
    margin-right: 3%;
}

#contain {
    flex-direction: row;
}

header {
    display: block;
}
    
.principal, .secondaire {
    justify-content: center;
}

.selection {
    list-style: none;
}
    
.inscription, .inscription1 {
    border-top: none;
    padding-top: 0px;
}

.inscription:hover, .inscription1:hover {
    border-top: none;
}

#EnsembleHer {
    justify-content: center;
}

#hebergements {
    width: 1000px;
    order: 2;
    margin-top: 20px;
}
  
#populaire {
    width: 1000px;
    order: 1;
}

#filscontain {
    display: flex;
    margin-top: 0px;
    font-weight: 900;
    flex-wrap: wrap;
}

#filter {
    display: inline-block;
}

#filscontain h1 {
    display: none;
}

.filtre {
    border: 2px solid #F2F2F2;
    padding-right: 16px;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 15px;
    align-items: center;
    transition: transform 200ms ease-in-out;
}

.filtre p {
    padding: 12px;
    border-radius: 100px;
    margin-right: 10px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    width: 19px;
    text-align: center;
    cursor: pointer;
}

#activitesspecial h1 {
    text-align: center;
}

.marseillebo {
    justify-content: center;
}
    
.acti_larger {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    margin: 0;
}
    
.cadre_larger, .cadre_small {
    height: 151px; 
}

.act_activites {
    align-items: center;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
}

footer {
    background: #F2F2F2;
    margin-top: 40px;
    display: block;
}

.foot {
    justify-content: space-between;
}

#propos ul, #sejour ul, #assistance ul {
    margin-left: 0px;
}
}

@media screen and (min-width: 600px) and (max-width: 716px) 
{
.cadre_activites, .cadre_larger, 
.cadre_small, .cadre_normal {
    width: calc(100% - 0px);
    height: 180px;
}
}

@media screen and (min-width: 600px) and (max-width: 665px)
{
#contain {
    flex-direction: column;
}
}
/*Fin Bloc (600 - 940)*/

@media screen and (min-width: 200px) and (max-width: 600px)
{
#contain {
    flex-direction: column;
}

header {
    margin: 0;
    padding: 0;
}

#contain_principal {
    margin-left: 3%;
    margin-right: 3%;
}

.selection {
    margin: 0px;
}

.selection a {
    list-style: none;
}

.introduction {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

#contain ul {
    padding: 0px;
}

.introduction a {
    display: inline-block;
    padding: 0px;
    border: none;
    font-size: 1.2rem;
    opacity: 1;
    color: #0065FC;    
}

.troisieme {
    border-bottom: 4px solid #F2F2F2;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.troisieme:hover {
    border-bottom: 4px solid #0065FC;
}

.troisieme a:hover{
    color: #0065FC;  
}

.secondaire {
    display: flex;
    justify-content: space-around;
}

.inscription, .inscription1 {
    border-top: none;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
    
.inscrire, .search {
    display: none;
}
    
.inscription:hover, .inscription1:hover  {
    border-top: none;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

.fa-search {
    display: inline;
    opacity: 1;
    position: relative;
}

.point_search {
    border-radius: 0px 18px 18px 0px;
    width: 25px;
}

#searchmap {
    width: 170px;
}

#EnsembleHer {
    justify-content: center;
}

#hebergements {
    order: 2;
    background-color: white;
    width: 1000px;
}

#hebergements h1 {
    margin-left: 19px;
}

#populaire {
    border-radius: 10px;
    order: 1;
    width: 1000px;
}

.auba {
    width: calc(100% - 10px);
    order: 1;
}

.cadre_hebergement {
    width: calc(100% - 0px);
    height: 120px;
}

.cadre_populaire {
    width: calc(45% - 10px);
    height: 140px;
}

.AubergeCanne {
    margin-right: 0px;
}

.hotelsoleil {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.HotSol {
    font-weight: bold;
    font-size: 14px;
}

.popu_star {
    position: absolute;
    margin-top: 35px;
}

.act_populaire {
    margin-left: 24px;
    width: 154px;
    font-size: 12px;
}

#filscontain {
    display: flex;
    margin-top: 0px;
    flex-wrap: wrap;
}

#filter {
    display: inline-block;
}

#filscontain h1 {
    display: none;
}

.filtre {
    margin-top: 15px;
    font-weight: 100px;
    margin-left: 10px;
}

.affichage {
    margin-left: 16px;
}

#activitesspecial {
    margin-top: 30px;
}

#activitesspecial h1{
    margin-left: 11px;
}

.marseillebo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.city {
    border-radius: 10px;
    margin: 10px;
}

.cadre_activites, .cadre_larger, 
.cadre_small, .cadre_normal {
    width: calc(100% - 0px);
    height: 135px;
}

footer {
    background: #F2F2F2;
    margin-top: 40px;
}

.foot {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#propos ul, #sejour ul, #assistance ul {
    margin-left: 0px;
    padding-inline-start: 10px;
}
}